.btn {
    background-color: #3a5088 !important;
}

.btn :hover {
    background-color: #314881 !important;
}

.partner-1 {
    background: #3a5088;
}

.txt-scnd {
    color: #222222;
}

.txt-prmy-color {
    color: #3a5088;
}

.card-image {
    width: 84px;
    height: 84px;
}

.size-card {
    align-items: center;
    width: 560px;
    height: 354px;
}

.image-container {
    display: flex;
    justify-content: center;
}
