.btn-login {
    background-color: #3a5088 !important;
}

.btn-login :hover {
    background-color: #314881 !important;
}

.nav {
    box-shadow: 0px 4px 30px rgba(221, 221, 233, 0.45);
}

.navbar {
    border: 0px;
}
